- name: Install
  ansible.builtin.shell: |
    {{ ansible_env.HOME }}/.local/bin/mise use --global zoxide
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/mise/installs/zoxide"

- name: Add bash config
  ansible.builtin.copy:
    src: zoxide.bash
    dest: "{{ ansible_env.HOME }}/.config/bash/zoxide.bash"

- name: Generate nushell init script
  ansible.builtin.command:
    cmd: mise exec zoxide -- zoxide init --cmd cd nushell
  register: zoxide_init

- name: Write nushell init file
  ansible.builtin.copy:
    dest: "{{ ansible_env.HOME }}/.local/share/nushell/vendor/autoload/zoxide.nu"
    content: "{{ zoxide_init.stdout }}"
    mode: "0644"
