- name: Ensure ~/.local/bin exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.local/bin"
    state: directory

- name: Install
  ansible.builtin.shell: |
    curl https://mise.jdx.dev/install.sh | sh
  args:
    creates: "{{ ansible_env.HOME }}/.local/bin/mise"

