- name: Install
  ansible.builtin.shell: |
    {{ ansible_env.HOME }}/.local/bin/mise use --global fzf
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/mise/installs/fzf"

- name: Add bash config
  ansible.builtin.copy:
    src: fzf.bash
    dest: "{{ ansible_env.HOME }}/.config/bash/fzf.bash"

- name: Add nushell config
  ansible.builtin.copy:
    src: fzf.nu
    dest: "{{ ansible_env.HOME }}/.config/nushell/autoload/fzf.nu"

