- name: Ensure git is installed
  become: true
  tags: [never, privileged]
  ansible.builtin.package:
    name: git
    state: present

- name: Ensure config directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/git"
    state: directory

- name: Add gitconfig
  ansible.builtin.copy:
    src: gitconfig
    dest: "{{ ansible_env.HOME }}/.gitconfig"

- name: Add GitHub specific config
  ansible.builtin.copy:
    src: gitconfig-github.com
    dest: "{{ ansible_env.HOME }}/.config/git/gitconfig-github.com"

- name: Add GitLab.com specific config
  ansible.builtin.copy:
    src: gitconfig-gitlab.com
    dest: "{{ ansible_env.HOME }}/.config/git/gitconfig-gitlab.com"

- name: Add global gitignore
  ansible.builtin.copy:
    src: gitignore
    dest: "{{ ansible_env.HOME }}/.config/git/gitignore"

- name: Install delta
  ansible.builtin.shell: |
    {{ ansible_env.HOME }}/.local/bin/mise use --global delta
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/mise/installs/delta"

- name: Add delta config
  ansible.builtin.copy:
    src: delta.gitconfig
    dest: "{{ ansible_env.HOME }}/.config/git/delta.gitconfig"

- name: Check git version
  ansible.builtin.command: git --version
  register: git_output
  changed_when: false

- name: Parse git version
  ansible.builtin.set_fact:
    git_version: "{{ git_output.stdout.split()[2] }}"

- name: Install version-dependent config (2.35+)
  ansible.builtin.copy:
    src: conflict-style-modern.gitconfig
    dest: "{{ ansible_env.HOME }}/.config/git/conflict-style.gitconfig"
  when: git_version is version('2.35', '>=')
  ignore_errors: true

- name: Install version-dependent config (below 2.35)
  ansible.builtin.copy:
    src: conflict-style.gitconfig
    dest: "{{ ansible_env.HOME }}/.config/git/conflict-style.gitconfig"
  when: git_version is version('2.35', '<')
  ignore_errors: true
