- name: Install
  ansible.builtin.shell: |
    {{ ansible_env.HOME }}/.local/bin/mise use --global github:ll-nick/leadr
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/mise/installs/github-ll-nick-leadr"

- name: Clone config
  ansible.builtin.git:
    repo: "{{ github_prefix }}ll-nick/leadr-config"
    dest: "{{ ansible_env.HOME }}/.config/leadr"
  ignore_errors: true

- name: Add bash config
  ansible.builtin.copy:
    src: leadr.bash
    dest: "{{ ansible_env.HOME }}/.config/bash/leadr.bash"

- name: Generate init script
  ansible.builtin.command:
    cmd: mise exec ubi:ll-nick/leadr -- leadr --nu
  register: leadr_init
  changed_when: false

- name: Write init file
  ansible.builtin.copy:
    dest: "{{ ansible_env.HOME }}/.local/share/nushell/vendor/autoload/leadr.nu"
    content: "{{ leadr_init.stdout }}"
    mode: "0644"

