- name: Install
  ansible.builtin.shell: |
    {{ ansible_env.HOME }}/.local/bin/mise use --global starship
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/mise/installs/starship"

- name: Clone Config
  ansible.builtin.git:
    repo: "{{ github_prefix }}ll-nick/starship-config.git"
    dest: "{{ ansible_env.HOME }}/.config/starship"
  ignore_errors: true

- name: Add bash config
  ansible.builtin.copy:
    src: prompt.bash
    dest: "{{ ansible_env.HOME }}/.config/bash/prompt.bash"

- name: Generate nushell init script
  ansible.builtin.command:
    cmd: mise exec starship -- starship init nu
  register: starship_init

- name: Write nushell init file
  ansible.builtin.copy:
    dest: "{{ ansible_env.HOME }}/.local/share/nushell/vendor/autoload/starship.nu"
    content: "{{ starship_init.stdout }}"
    mode: "0644"

- name: Add nushell config
  ansible.builtin.copy:
    src: starship.nu
    dest: "{{ ansible_env.HOME }}/.config/nushell/autoload/starship.nu"

