[Unit]
Description=Persistent tmux sessions
Documentation=man:tmux(1)
After=graphical-session.target

[Service]
Type=forking
Restart=no
RemainAfterExit=yes

ExecStart=bash -l -c "mise x -- tmux new-session -d -s restore '~/.config/tmux/plugins/tmux-resurrect/scripts/restore.sh'"

ExecStop=bash -l -c "mise x -- ~/.config/tmux/plugins/tmux-resurrect/scripts/save.sh"
ExecStop=bash -c "sed -i 's,/home/.*nvim,nvim,' ~/.local/share/tmux/resurrect/last"
ExecStop=bash -l -c "mise x -- tmux kill-server"
KillMode=control-group

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target

